

.nav-link{
  color: rgb(97, 97, 97);
}
.navbar {
  background-color: #ececec;
  height: auto;
  align-content: center;
}

@media screen and (min-width: 801px) {
  header{
    background-color: white;
    z-index: 100;
    position: sticky;
    top: 0;
  }
<<<<<<< HEAD
=======
}

@media screen and (max-width: 801px) {
  .fixed{
   
    z-index: 100;
    position: sticky;
    top: 0;
    
  }
>>>>>>> facb25cf7b0c87b9ea0f3b2ac720f0b4b1f5d989
}

@media screen and (max-width: 801px) {
  .fixed{
   
    z-index: 100;
    position: sticky;
    top: 0;
    
  }
}


.pages{
  display: flex;
 justify-content: center;
 color: black;
}
.pagination a{
  color: black;
  background-color: rgb(195, 195, 195);
}
